<h2>_ Welcome Slayer _</h2>

<form [formGroup]="signUpForm" (ngSubmit)="ripAndTear()" *ngIf="!submitted">
    <label>Nick name</label><br/>
    <label *ngIf="signUpForm.controls['nickName'].invalid && attemptedSubmission">
        Nick name is a required field
    </label>
    <input type="text" formControlName="nickName" required/><br/>
    
    <label>Age in battle</label><br/>
    <input type="number" formControlName="ageInBattle" /><br/>

    <label>Weapon of choice</label><br/>
    <select formControlName="weaponOfChoice">
        <option value="0">--Please select--</option>
        <option value="1">Shot gun</option>
        <option value="2">Super Shot gun</option>
    </select>
    <br/>

    <br/>
    <input type="submit" value="Rip & Tear!" />
</form>

<div *ngIf="submitted">
    [ MOVE! RIP & TEAR! ]

    <div class="military-card">
        <table>
            <tr>
                <td rowspan="4">
                    <img class="avatar" src="assets/avatar.png"/>
                </td>
                <td width="80%"></td>
            </tr>
            <tr>
                <td>Name: {{ signUpForm.controls['nickName'].value }}</td>
            </tr>
            <tr>
                <td>Age: {{ signUpForm.controls['ageInBattle'].value }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    Weapon: {{ 
                        (signUpForm.controls['weaponOfChoice'].value === 1) ? "Shotgun" : 
                        (signUpForm.controls['weaponOfChoice'].value === 2) ? "Super shotgun": "?"
                    }}
                </td>
            </tr>
        </table>
    </div>
</div>